/* static/css/style.css */

/* Importation de la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700&display=swap');

/* Styles globaux */
body {
    width: auto;
    font: 90%/1.45em Roboto, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

h1 {
    color: #544d4d;
    font-weight: 200;
}

img {
    height: auto;
}

/* gestion des mots longs */
textarea,
table,
td,
th,
code,
pre,
samp {
    -webkit-hyphens: auto;
    /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    /* passage à la ligne forcé */
}

#worldmap {
    width: 36px;
    vertical-align: middle;
    margin: 0 10px;
}

/* Styles pour le menu de navigation */
.menu {
    /*display: flex;*/
    background-color: #544d4d;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

.menu a:hover,
a.active {
    color: #e2ba28;
}

/* Styles pour le sous-menu */
.submenu {
    /*display: flex;*/
    font-size: 14px;
    background-color: #e9e9e9;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    max-width: 100%;
}

.submenu a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    padding: 2px 5px;
    border-radius: 3px;
}

.submenu a:hover {
    color: #e2ba28;
    font-weight: 500;
}

.submenu a.active {
    background-color: #e2ba28;
    color: #333;
    font-weight: 500;
}

/* Style pour le lien "À propos" placé à droite de la barre */
#about {
    float: right;
}

#about::before {
    content: "\2139";
    /* Unicode pour le symbole d'information */
    margin-right: 5px;
    font-weight: bold;
}

/* Style pour DataTables */
table.dataTable {
    max-width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table.dataTable thead th {
    background-color: #f8eaca;
    padding: 5px;
    text-align: left;
}

table.dataTable tbody td {
    padding: 5px;
    border: 1px solid #e9e9e9;
}

/* Styles pour le tableau "À propos" */
#aboutTable {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;  
}

#aboutTable td,
#aboutTable th {
    padding: 4px 4px;
}

#aboutTable td:first-child {
    white-space: normal;
}

#aboutTable td:nth-child(2) {
    white-space: normal;
}

#aboutTable a {
    text-decoration: none;
}

#aboutTable a::before {
    content: "\1F517";
    /* Unicode pour le symbole de lien */
    margin-right: 8px;
}

/* Styles pour le conteneur des graphiques */
.plot-container {
    width: 90%;
    max-width: 100%;
    margin: auto auto;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

/* Styles pour le conteneur des cartes */
.map-container {
    width: 90%;
    max-width: 100%;
    height: 450px;
    margin: auto auto;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.dashboard_container {
    width: 100%;
    max-width: 100%;
    height: 450px;
}

/* Styles pour le tableau de bord des indicateurs clés */
/* Conteneur de la grille des indicateurs */
.stats-grid {
    display: grid;
    /* Utilisation de la grille CSS */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Colonnes adaptatives */
    gap: 20px;
    /* Espacement entre les blocs */
    margin: 20px 0;
    /* Espacement entre les blocs */
}

/* Styles pour chaque bloc d'indicateurs */
.stat-block {
    background-color: #f8eaca;
    border: 1px solid #e2ba28;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

/* Effet au survol des blocs d'indicateurs */
.stat-block:hover {
    border: 2px solid #544d4dAA;
    box-shadow: 0 4px 8px rgba(84, 77, 77, 0.2);
    transition: border 0.3s, box-shadow 0.3s;
}

/* Styles pour les titres des indicateurs */
.stat-block h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #544d4d;
}

/* Style pour les valeurs des indicateurs */
.stat-value {
    font-size: 24px;
    font-weight: 500;
    color: #c3a023;
}

/* Style pour les descriptions des indicateurs */
.stat-description {
    font-size: 14px;
    color: #544d4d;
    margin-top: 5px;
}

/* Icône d'information avant la description */
.stat-description::before {
    content: "\24D8";
    /* Unicode pour le symbole d'information cerclé */
    margin-right: 5px;
    font-size: larger;
}